header .navbar {
  border-bottom: 1px solid #731702;
}
@media (max-width: 960px) {
  header .navbar .navbar-brand .logo {
    width: 75%;
  }
}
header .navbar h1 {
  color: #00BFC0;
  font-size: 2rem;
}
@media (max-width: 960px) {
  header .navbar h1 {
    font-size: 1.5rem;
  }
}
header .navbar .navbar-toggler .navbar-toggler-icon .fa-bars {
  color: #731702;
  font-size: 2rem;
}
header .navbar .navbar-nav {
  text-align: right;
}
header .navbar .navbar-nav .nav-item.active .nav-link {
  color: #F2541B;
}
header .navbar .navbar-nav .nav-item .nav-link {
  color: #731702;
  font-size: 1.2rem;
}
@media (min-width: 960px) and (max-width: 1440px) {
  header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 0.9rem;
  }
}
@media (min-width: 1440px) {
  header .navbar .navbar-nav .nav-item .nav-link {
    font-size: 1rem;
    padding: 0 1rem;
  }
}
header .navbar .navbar-nav .nav-item .dropdown-menu {
  background-color: rgba(226, 226, 226, 0.7);
  border: none;
}
@media (max-width: 960px) {
  header .navbar .navbar-nav .nav-item .dropdown-menu {
    background-color: transparent;
    text-align: right;
  }
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
  color: #515e64;
  padding: 0.5rem 1.25rem;
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:active {
  background-color: rgba(226, 226, 226, 0.5);
}
header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item:hover {
  background-color: transparent;
}
@media (max-width: 960px) {
  header .navbar .navbar-nav .nav-item .dropdown-menu .dropdown-item {
    padding: 0.5rem 0.5rem;
    font-size: 0.8rem;
  }
}

.btn-up {
  height: 40px;
  width: 40px;
  background-color: #F2541B;
  border-radius: 10px;
  padding-left: 9px;
  padding-top: 7px;
}
.btn-up.fixed-bottom {
  right: 2rem;
  bottom: 2rem;
  left: auto;
}
.btn-up i {
  color: white;
  font-size: 1.5rem;
}

.courses-title {
  border: 4px solid #731702;
  border-radius: 7px;
  display: inline-block;
  margin: auto;
  padding: 0 2rem;
}
.courses-title .courses-title-item {
  color: #F2541B;
  font-size: 1.7rem;
  margin-bottom: 0;
  position: relative;
  top: -17px;
  background-color: #fff;
  padding: 0 1rem;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  overflow: hidden;
  height: 33rem;
}
.card .card-img {
  height: 13.5rem;
  overflow: hidden;
}
.card .card-img .card-img-top {
  height: 100%;
}
.card .card-body .card-title {
  color: #F2541B;
  font-size: 1.2rem;
}
.card .card-body .card-text {
  color: #515e64;
}
.card .card-footer {
  background-color: white;
}
.card .card-footer .card-text {
  color: #515e64;
}
.card .card-footer .price {
  color: #731702;
  font-size: 1.2rem;
  margin-bottom: 0;
}
.card .card-footer .price span {
  color: #F2541B;
}
.card .card-footer .buy {
  color: white;
  background-color: #F2541B;
  padding: 0.2rem 1rem;
  border-radius: 20px;
}
.card .card-footer .buy:focus {
  box-shadow: none;
}

footer {
  background-color: #731702;
}
footer .social-link {
  height: 30px;
  width: 30px;
  background-color: #F2541B;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.5rem;
  text-decoration: none;
}
footer .social-link i {
  color: white;
  font-size: 1.1rem;
}
footer h3 {
  color: #F2541B;
  font-size: 1.2rem;
  font-weight: 400;
}
footer .nav .nav-item .nav-link {
  padding: 0.5rem 3rem 0.5rem 0;
  color: white;
}

.gallery {
  position: relative;
  border: 15px solid #F2541B;
  border-radius: 10px;
  height: 300px;
  width: 300px;
  display: flex;
  align-items: flex-end;
  margin-top: calc(2rem + 50px);
  margin-bottom: calc(2rem + 50px);
  color: #F2541B;
  padding-bottom: 0.5rem;
  padding-left: 0.5rem;
  font-size: 1rem;
  text-align: center;
}
@media (max-width: 768px) {
  .gallery {
    height: 200px;
    width: 200px;
    margin-top: calc(2rem + 40px);
    font-size: 0.8rem;
  }
}
.gallery .gallery-preview-image {
  height: 300px;
  width: 300px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  bottom: 50px;
  left: 50px;
}
@media (max-width: 768px) {
  .gallery .gallery-preview-image {
    height: 200px;
    width: 200px;
    bottom: 40px;
    left: 40px;
  }
}

.teacher .gallery {
  border: 15px solid #F2541B;
  height: 280px;
  width: 220px;
}
@media (max-width: 768px) {
  .teacher .gallery {
    width: 180px;
    height: 260px;
    margin-top: calc(2rem + 40px);
  }
}
.teacher .gallery .gallery-preview-image {
  height: 280px;
  width: 220px;
}
@media (max-width: 768px) {
  .teacher .gallery .gallery-preview-image {
    width: 180px;
    height: 260px;
    bottom: 40px;
    left: 40px;
  }
  .teacher .gallery .gallery-preview-image img {
    height: 100%;
  }
}
.teacher .name {
  color: #F2541B;
  font-size: 2rem;
  font-weight: 400;
}
.teacher .description {
  color: #515e64;
  font-size: 1.3rem;
}

.support .form-row, .contact .form-row, .course .form-row {
  padding-bottom: 2rem;
}
.support .form-row.border-bottom, .contact .form-row.border-bottom, .course .form-row.border-bottom {
  border-color: #F2541B !important;
}
.support .form-row .form-group .form-input, .contact .form-row .form-group .form-input, .course .form-row .form-group .form-input {
  color: #731702;
  font-size: 1.2rem;
}
.support .form-row .form-group .form-control, .contact .form-row .form-group .form-control, .course .form-row .form-group .form-control {
  height: 3rem;
  border-color: #731702;
  border-radius: 15px;
  color: #731702;
}
.support .form-row .form-group .form-control:focus, .contact .form-row .form-group .form-control:focus, .course .form-row .form-group .form-control:focus {
  box-shadow: none;
}
.support .form-row .form-group .form-control::placeholder, .contact .form-row .form-group .form-control::placeholder, .course .form-row .form-group .form-control::placeholder {
  color: #515e64;
  font-size: 0.9rem;
}
.support h2, .contact h2, .course h2 {
  color: #F2541B;
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
.support .donations, .contact .donations, .course .donations {
  margin-top: 2rem;
}
.support .donations p, .contact .donations p, .course .donations p {
  color: #F2541B;
  font-size: 1.2rem;
}
.support .donations .form-check, .contact .donations .form-check, .course .donations .form-check {
  margin-bottom: 0.6rem;
}
.support .donations .form-check .form-check-label, .contact .donations .form-check .form-check-label, .course .donations .form-check .form-check-label {
  color: #515e64;
  font-size: 1.1rem;
}
.support .donations .form-check .form-control, .contact .donations .form-check .form-control, .course .donations .form-check .form-control {
  border-color: #731702;
  height: 1.8rem;
  border-radius: 15px;
}
.support .donations .payment-method .form-check, .contact .donations .payment-method .form-check, .course .donations .payment-method .form-check {
  padding-left: 0 !important;
  margin-right: 1rem;
}
.support .donations .payment-method .form-check .form-check-label, .contact .donations .payment-method .form-check .form-check-label, .course .donations .payment-method .form-check .form-check-label {
  overflow: hidden;
  height: 40px;
  width: 70px;
}
.support .donations .payment-method .form-check .form-check-label.active, .contact .donations .payment-method .form-check .form-check-label.active, .course .donations .payment-method .form-check .form-check-label.active {
  border: 1px solid red;
}
.support .donations .payment-method .form-check .form-check-label img, .contact .donations .payment-method .form-check .form-check-label img, .course .donations .payment-method .form-check .form-check-label img {
  width: 100%;
  height: 100%;
}
@media (max-width: 520px) {
  .support .donations .payment-method .form-check, .contact .donations .payment-method .form-check, .course .donations .payment-method .form-check {
    height: 40px;
    width: 60px;
  }
}
.support .donations .captcha, .contact .donations .captcha, .course .donations .captcha {
  padding-left: 1.5rem;
  margin-top: 1.5rem;
}
.support .donations .captcha img, .contact .donations .captcha img, .course .donations .captcha img {
  height: 50px;
  width: 200px;
}
.support .donate, .contact .donate, .course .donate {
  background-color: #F2541B;
  color: white;
  font-size: 1.4rem;
  padding: 0.5rem 3rem;
  border-radius: 20px;
  margin-bottom: 2rem;
}

.contact .contact-address, .contact .contact-email, .contact .contact-phone-number {
  color: #731702;
}
.contact .contact-address .nav-link, .contact .contact-email .nav-link, .contact .contact-phone-number .nav-link {
  color: #731702;
  padding: 0;
}
.contact .form-group .form-input {
  color: #731702;
  font-size: 1.2rem;
}
.contact .form-group .form-control {
  height: 3rem;
  border-color: #731702;
  border-radius: 15px;
  color: #731702;
}
.contact .form-group .form-control.message {
  height: 6rem;
}
.contact .form-group .form-control:focus {
  box-shadow: none;
}
.contact .form-group .form-control::placeholder {
  color: #515e64;
  font-size: 0.9rem;
}

.course .course-img {
  border-radius: 20px;
}
.course .course-description {
  counter-reset: #515e64;
  font-size: 1.5rem;
}
.course .course-footer {
  font-size: 1.5rem;
  display: inline-block;
  justify-content: space-between;
  align-items: center;
}
.course .course-footer .price {
  color: #515e64;
  margin-bottom: 0;
}
.course .course-footer .price span {
  color: #F2541B;
}
.course .course-footer .buy {
  color: white;
  background-color: #F2541B;
  padding: 0.5rem 3rem;
  border-radius: 15px;
}
.course .course-footer .buy:focus {
  box-shadow: none;
}

/*# sourceMappingURL=courses.css.map */
